name: Docsify Docs to Surge.sh

on: push
jobs:
  build-and-deploy:
    name: "Build and Deploy"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory:"./TIL"

    steps:
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: 
            ~/.npm
          key: npm-${{ runner.os }}-${{ hashFiles('package.json') }}
          restore-keys: |
            ${{ hashFiles('package.json') }}
            npm-${{ runner.os }}-
            npm-
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2-beta
        with:
          node-version: 16

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Install Surge.sh
        run: npm install -g surge

      - name: Deploy to Surge.sh
        run: surge ./build https://pull-request-${{ github.event.pull_request.number }}-code.surge.sh/ --token ${{ secrets.SURGE_TOKEN }}

      - name: Comment on pull request
        uses: mshick/add-pr-comment@v1
        with:
          message: 'Uma nova versão está disponível em [https://pull-request-${{ github.event.pull_request.number }}-naa0.surge.sh](https://pull-request-${{ github.event.pull_request.number }}-naa0.surge.sh)/'
          repo-token: ${{ secrets.ACCESS_TOKEN  }}
          repo-token-user-login: "github-actions[bot]"
          allow-repeats: true


